@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Noto+Sans&display=swap");
body {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
    background-color: rgb(246, 239, 231);
}
.logoimg {
  height: 40px;
  border-radius: 20px;
  border: 0.5px solid white;
}

.accordion {
  margin: 5%;
}

.accordion-button {
  background-color: bisque;
}

.navbar-dark {
  background-color: #b6734e;
}

.formContainer {
  margin: 10%;
  margin-top: 16%;
  background-color: #b6734e;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  padding: 3%;
  color: white;
}

#button {
  background-color: #7c6046;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  float: right;
}

#button:hover {
  background-color: #4f3b28;
}

.carousel{
    margin-top: 2%;
  margin-right: 1%;
  margin-left: 1%;
}

.carousel-item img{
  height: 500px;
  border: 0.5px solid white;
}

.aboutWeb{
  margin: 15%;
}


.aboutWeb hr{
  height:2px;
  border-width:0;

}

.aboutWeb p{

line-height: 32px;
text-align: center;

}
